body{
    font-family:sans-serif;
    background-color:lightgrey;

}


h1{
    margin-bottom:80px;
    color:rgb(32, 196, 114);
    font-size:70px;
    text-align:center;
}

p{
    font-size:18px;
}


li{
    font-size:16px;
    margin-bottom:20px;
}

